POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ##OEROOT##/meta \
    ##OEROOT##/meta-poky \
    ##OEROOT##/meta-yocto-bsp \
    /workdir/meta-openembedded/meta-oe \
    /workdir/meta-openembedded/meta-python \
    /workdir/meta-openembedded/meta-networking \
    /workdir/meta-openembedded/meta-multimedia \
    /workdir/meta-intel \
    /workdir/meta-raspberrypi \
    /workdir/meta-opendsp \
    /workdir/meta-dsp \
    /workdir/meta-video \
    /workdir/meta-qt5 \
"
