[Unit]
Description=OpenDSP Remote Control Service
After=getty.target


[Service]
Type=simple
User=opendsp
Group=opendsp
WorkingDirectory=/home/opendsp/
ExecStart=/usr/bin/opendspd
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/tmp/.Xauthority"
StandardOutput=syslog
StandardError=syslog
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitRTTIME=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
