[Unit]
Description=OpenDSP Remote Control Service
After=remote-fs.service

[Service]
Type=simple
User=opendsp
Group=opendsp
WorkingDirectory=/home/opendsp/
ExecStart=/usr/bin/opendspd
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/tmp/.Xauthority"
StandardOutput=syslog
StandardError=syslog
CPUSchedulingPolicy=rr
CPUSchedulingPriority=51
LimitRTPRIO=50
LimitRTTIME=infinity

[Install]
WantedBy=multi-user.target
