[Unit]
Description=OpenDSP Remote Control Service
After=remote-fs.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/opendsp/
ExecStart=/bin/sh -c '/usr/bin/cp -Rf /var/cache/samba.cp/* /var/cache/samba/; /usr/bin/cp -Rf /var/lib/samba.cp/* /var/lib/samba/'

[Install]
WantedBy=multi-user.target
