[Unit]
Description=Virtual Display VNC
After=systemd-user-session.service

[Service]
Type=forking
Environment="DISPLAY=:1"
#Environment="XAUTHORITY=/tmp/.Xauthority"
#ExecStartPre=/bin/su opendsp -l -c "/usr/bin/Xvfb :1 -screen 0 1280x1024x16 &"
ExecStartPre=/bin/su opendsp -l -c "/usr/bin/Xvfb :1 -screen 0 1280x1024x16 &"
ExecStart=/bin/su opendsp -l -c "/usr/bin/x11vnc -auth /tmp/.Xauthority -display :1 -norc -forever -shared -bg -autoport 5900" 
ExecStartPost=/bin/su opendsp -l -c "/usr/bin/xterm -bg black -fg white -maximized &"
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/opendsp/

[Install]
WantedBy=multi-user.target
